main{
    height: 83vh;
    flex-direction: column;
}

.content {
    display: flex;
    justify-content: space-around;
    height: 80%;
    align-items: center;
    padding: 0 3%;
}

@media screen and (max-width: 1024px) {
    main{
        height: calc(100vh - 0);
    }
} 

@media screen and (max-width: 768px){
    main{
        height: auto;
    }

    .content {
        text-align: center;
        margin: 0 auto;
        width: 100%;
        padding: 0;
    }
}
